<div>
<%= button_to "Show Pairs", "/pairs", method: :get %>
<% @members.each do |member| %>
    <p><%= link_to member.name, "/members/#{member.id}" %>
    <button href="/members/#{member.id}/status"><%= "Make #{member.active ? 'Inactive' : 'Active'}" %></button></p><br/>
<% end %>
</div>